extends ../main

block content
  //HEADER - Start
  include ../components/_header
  //HEADER - End

  //REALTORS - Start
  include ../components/_realtors
  //REALTORS - End

  //FEATURES - Start
  include ../components/_features
  //FEATURES - End

  //STORY - Start
  include ../components/_story
  //STORY - End

  //HOMES - Start
  include ../components/_homes
  //HOMES - End

  //GALLERY - Start
  include ../components/_gallery
  //GALLERY - End
