doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')/

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(
      href='https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap',
      rel='stylesheet'
    )

    title Nexter &mdash; Your Home, Your Freedom

  body.container
    //SIDEBAR - Start
    include components/_sidebar
    //SIDEBAR - End

    //MAIN - Start
    block content
    //MAIN - End

    script(src='js/script.js', type='text/javascript')/

    // FOOTER - Start
    include components/_footer
    // FOOTER - End
