-
  var footerLinks = [
    "find your dream home",
    "request proposal",
    "download home planner",
    "contact us",
    "submit your property",
    "come work with us!"
  ];

footer.footer
  ul.nav
    each link in footerLinks
      li.nav__item
        a.nav__link(href="#")= link

  p.copyright © Copyright 2021 by Hugh Nguyen. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
