//STORY PICS - Start
.story__pictures
  img.story__picture.story__picture--1(
    src="img/story-1.jpeg",
    alt="Couple with new house"
  )/
  img.story__picture.story__picture--2(src="img/story-2.jpeg", alt="New house")/
//STORY PICS - End

//STORY CONTENT - Start
.story__content
  h3.heading-3.u-mb-sm Happy Customers
  h2.heading-2.heading-2--dark.u-mb-md &ldquo;The Best Decision of Our Lives&rdquo;
  p.story__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum volupta!
  button.btn Find Your Own Home
//STORY CONTENT - End
